@import "tailwindcss";
@theme {
  --color-primary: #0200e1;
  --color-secondary: #9b9aff;
  --color-text: #888888;
  --fontFamily: {
    /* sans: ['"DM Sans"', 'sans-serif'],   'dm': ['"DM Sans"', 'sans-serif'] */
  },
}
/* index.css or globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* for IE and Edge */
  scrollbar-width: none; /* for Firefox */
}

.dm{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.caveat{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #0200e1;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1a1aff;
}
.js-plotly-plot .plotly .cursor-crosshair {
  cursor: default !important;
}
/* body{
  zoom: 0.9;
  transform: scale(0.9);
  transform-origin: 0 0;
  -webkit-transform: scale(0.9);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.9);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.9);
  -o-transform-origin: 0 0;
} */
/* .app-container {
  width: 111%;
  height: 100vh !important;
  transform: scale(0.9);
  transform-origin: top left;
  overflow: hidden;
} */
@keyframes loadingSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}

/* Hide elements during print */
@media print {
  .print-hide {
    display: none !important;
  }
}

/* table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 4px 6px;
  vertical-align: top;
} */
